.bookmarks__bookmark {
  aspect-ratio: 9/14;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #000000;
  border: 2px solid var(--dark-red);
  border-radius: 5px;
  width: 9em;
  overflow: hidden;
  cursor: pointer;
}
.bookmarks__bookmark:hover {
  border: 2px solid var(--bright-red);
}

.bookmarks_bookmark--remove-button {
  position: relative;
  display: flex;
  justify-content: center;
  background: var(--bright-red);
  margin: .3em;
  border: 2px solid var(--bright-red);
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: bold;
  color: black;
  cursor: pointer;
  opacity: 1;
  z-index: 4;
}
.bookmarks_bookmark--remove-button:hover {
  color: white;
}
.bookmarks_bookmark--remove-button--wrapper {
  display: flex;
  justify-content: flex-end;
}

.bookmark__grid {
  display: grid;
  grid-template-rows: repeat(2, fit-content(100%));
  background-color: rgba(0, 0, 0, .5);
  padding: 0.2em 0 0.2em;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.bookmarks_bookmark--title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-family: Georgia, Sans-Serif;
  margin-bottom: 0.1em;
  z-index: 2;
}

.bookmarks_bookmark--info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-font);
  font-size: .9em;
  font-family: Serif;
  z-index: 2;
}

.bookmarks__bookmark--image {
  position: absolute;
  left: 0;
  top: 0;
  height: stretch;
  width: 100%;
  opacity: 0.65;
  z-index: 1;
  transition: opacity 100ms ease-in-out;
}
.bookmarks__bookmark--image:hover {
  opacity: 0.90;
  transition: opacity 85ms ease-in-out;
}

.lighten-image{
  opacity: 0.80;
  transition: opacity 85ms ease-in-out;
}

/* 360 */

@media (min-width: 375px){
}

@media (min-width: 411px){
}

@media (min-width: 768px){
}

@media (min-width: 1024px){
  .bookmarks__bookmark {
    width: 10em;
  }
}

@media (min-width: 1366px){
}

@media (min-width: 1920px){
  .bookmarks__bookmark {
    width: 14em;
  }
}