.genre-page__wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.genre-page__media--grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr .3em 1fr .3em 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: .1em .3em;
}
.genre-page__media--image {
  width: 7em;
  border-radius: 10px;
  aspect-ratio: 30 / 44;
}
.genre-page__movie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 20px;
}

@media (min-width: 375px){
  .genre-page__media--image {
    width: 7.3em;
  }
}

@media (min-width: 411px){
  .genre-page__media--image {
    width: 8.1em;
  }
}

@media (min-width: 640px){
  .genre-page__media--grid {
    -ms-grid-columns: 1fr .7em 1fr .7em 1fr .7em 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: .1em .7em;
  }
}

@media (min-width: 768px){
  .genre-page__media--image {
    width: 10.9em;
  }
}

@media (min-width: 1024px){
  .genre-page__media--grid {
    -ms-grid-columns: 1fr .3em 1fr .3em 1fr .3em 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: .1em .3em;
  }
  .genre-page__media--image {
    width: 15.4em;
    scale: .95;
    -webkit-transition: scale .3s;
    -o-transition: scale .3s;
    transition: scale .3s;
  }
  .genre-page__media--image:hover {
    scale: 1;
    -webkit-transition: scale .1s;
    -o-transition: scale .1s;
    transition: scale .1s;
  }
}

@media (min-width: 1366px){
  .genre-page__media--grid {
    grid-template-columns: repeat(5, 1fr);
  }
  .genre-page__media--image {
    width: 16.5em;
  }
}

@media (min-width: 1920px){
  .genre-page__media--grid {
    grid-template-columns: repeat(7, 1fr);
  }
}