.genre-page__wrapper {
  box-sizing: border-box;
  margin-top: 13%;
  overflow: auto;
}
.genre-page__media--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 2%;
}
.genre-page__media--image {
  width: 185px;
  border-radius: 10px;
}
.genre-page__movie {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  margin-bottom: 20px;
}

@media (min-width: 600px){
  .genre-page__wrapper {
    margin-top: 8%;
  }
  .genre-page__media--grid {
    margin: 0 2%;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px){
  .genre-page__wrapper {
    margin-top: 6.5%;
    overflow: auto;
  }

  .genre-page__media--grid {
    margin: 0 4%;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px){
  .genre-page__wrapper {
    margin-top: 60px;
  }
  .genre-page__media--grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .genre-page__media--image {
    width: 259px;
    scale: .95;
    transition: scale .3s;
  }
  .genre-page__media--image:hover {
    scale: 1;
    transition: scale .1s;
  }
}

@media (min-width: 1400px){
  .genre-page__wrapper {
    margin-top: 50px;
  }
  .genre-page__media--grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1800px){
  .genre-page__wrapper {
    margin-top: 50px;
  }
  .genre-page__media--grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1900px){
  .genre-page__wrapper {
    margin-top: 50px;
  }
  .genre-page__media--grid {
    margin: 0 1%;
    grid-template-columns: repeat(7, 1fr);
  }
}