.error__wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 10rem auto;
}

.error__title--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.error__title {
  display: inline;
  position: relative;
  right: -4rem;
  margin: 0;
  padding: 0;
  font-size: 9rem;
  font-family: "bebas";
  letter-spacing: .6rem;
  color: var(--bright-red);
  text-shadow: 0 0 20px var(--dark-red);
}

.error__text {
  position: relative;
  left: -3.5rem;
  top: 3.3rem;
  font-size: 3rem;
  font-family: "bebas";
  color: #ffffff;
  white-space: nowrap;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000000;
}

.error__links {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  white-space: nowrap;
  margin-top: 1.4rem;
  text-align: center;
}
.link {
  border: 0;
  border-bottom: 2px solid transparent;
  padding: 0;
  background: transparent;
  display: inline;
  margin: 0 1em;
  font-size: 1.3em;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}
.link:hover {
  border-bottom: 2px solid #ff0000;
  -webkit-transition: 50ms ease-in-out;
  -o-transition: 50ms ease-in-out;
  transition: 50ms ease-in-out;
}

@media (min-width: 768px){
  .error__wrapper {
    margin: 15rem auto;
  }
  .error__title {
    font-size: 10rem;
    right: -4.5rem;
  }
  .error__text {
    font-size: 5rem;
    left: -2.9rem;
    top: 4rem;
  }
  .link {
    margin: 0 3em;
  }
}

@media (min-width: 1920px){
  .error__wrapper {
    width: 80%;
    margin: 0 auto;
    margin-top: 10rem;
  }
}