.search-bar {
  margin: 3.3rem 0 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-bar__input {
  border: .12em solid var(--bright-red);
  border-radius: .5em 0 0 .5em;
  width: 15rem;
  background: var(--bg-color-light);
  padding: .3em .8em;
  border-right: transparent;
  caret-color: var(--bright-red);
  font-size: 1.3rem;
  color: var(--primary-font)
}

input:focus {
  outline: none;
}

.search-bar__submit {
  display: inline-block;
  color: black;
  border-radius: 0 .5em .5em 0;
  border: .12em solid var(--bright-red);
  border-left: transparent;
  background: var(--bright-red);
  padding: .3em .7em;
  font-size: 1.3rem;
}

.search-bar__submit .search-bar__icon {
  transform: translate(-.05em, .05em);
}

.no-results {
  width: 100%;
  text-align: center;
}

/* 360 */

@media (min-width: 375px){
}

@media (min-width: 411px){
  .search-bar {
    margin: 3.3rem 0 .8rem;
  }
  .search-bar__input {
    width: 16rem;
  }
}

@media (min-width: 768px){
  .search-bar__input {
    width: 25rem;
  }
}

@media (min-width: 1024px){
}

@media (min-width: 1366px){
  .search-bar {
    margin: 3rem 0 2rem;
  }
}

@media (min-width: 1920px){
}