.search-bar-icon-only__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
}
.search-bar__icon--only {
  font-size: 1.4rem;
  background-color: var(--bright-red);
  color: var(--bg-color-dark);
  padding: 4.6px 10px;
  margin-right: -1px;
  border-radius: .3rem;
  cursor: pointer;
}
.search-bar__icon--only:is(:hover) {
  color: white;
}
.search-bar-icon-only__container.display-none {
  display: none;
}

@media (min-width: 600px){

}

@media (min-width: 900px){

}

@media (min-width: 1200px){
  
}

@media (min-width: 1400px){
  
}

@media (min-width: 1800px){
  
}

@media (min-width: 1900px){
  
}