.header__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  /* margin-top: 2.5em; */
  margin-bottom: .7em;
}
.header__wrapper.main-wrapper {
  margin-top: 4em;
}

h1.header-title {
  display: block;
  color: var(--bright-red);
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 18px var(--bright-red);
  letter-spacing: .3em;
  text-indent: 0.3em;
  font-size: 10rem;
  font-weight: normal;
  font-family: "bebas";
  line-height: 1em;
}
h1.header-title.main-title {
  font-size: 5em;
}

/* 360 */

@media (min-width: 375px){

}

@media (min-width: 411px){
  .header__wrapper {
    margin-top: 2.8em;
    margin-bottom: 0;
  }
  .header__wrapper.main-wrapper {
    margin-bottom: 0;
  }
  h1.header-title {
    text-indent: 0.15em;
    letter-spacing: .1em;
    font-size: 8rem;
  }
  h1.header-title.main-title {
    font-size: 8em;
  }
}

@media (min-width: 768px){
  h1.header-title {
    text-indent: 0.3em;
    letter-spacing: .3em;
    font-size: 10em;
  }
  h1.header-title.main-title {
    font-size: 10em;
  }
}

@media (min-width: 1024px){
  .header__wrapper.main-wrapper {
    margin-top: 2em;
  }

  h1.header-title.main-title {
    font-size: 12em;
  }
}

@media (min-width: 1366px){
  .header__wrapper {
    margin-top: 2em;
    margin-bottom: 1.5em;
  }
  .header__wrapper.main-wrapper {
    margin-top: 3em;
    margin-bottom: 2.5em;
  }
  h1.header-title {
    font-size: 10em;
  }
  h1.header-title.main-title {
    font-size: 16em;
  }
}

@media (min-width: 1920px){

}