.nav__static-window {
  box-sizing: border-box;
  position: fixed;
  background: var(--bg-color);
  color: black;
  width: 100%;
  min-height: 100%;
  transform: translate(0%,0);
  transition: transform var(--fast-transition-speed) ease-in-out;
  z-index: 9998;
}
.nav__static-window.inactive {
  transform: translate(-100%,0);
}

.nav__wrapper {
  box-sizing: border-box;
  width: 100%;
}

@media (min-width: 1366px){
  .nav__static-window {
    width: var(--menu-active-width);
  }
}