.nav__static-window {
  position: fixed;
  background: var(--bg-color-dark);
  color: black;
  width: 100%;
  height: 100vh;
  z-index: 9998;
  -webkit-transform: translate(0em,0);
  -ms-transform: translate(0em,0);
  transform: translate(0em,0);
  -webkit-transition: -webkit-transform var(--fast-transition-speed) ease-in-out;
  transition: -webkit-transform var(--fast-transition-speed) ease-in-out;
  -o-transition: transform var(--fast-transition-speed) ease-in-out;
  transition: transform var(--fast-transition-speed) ease-in-out;
  transition: transform var(--fast-transition-speed) ease-in-out, -webkit-transform var(--fast-transition-speed) ease-in-out;
}
.nav__static-window.inactive {
  -webkit-transform: translate(-100%,0);
  -ms-transform: translate(-100%,0);
  transform: translate(-100%,0);
}

.nav__collapse-button{
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  border: 0;
  padding: 8px 10px;
  border-radius: .3rem;
  background-color: var(--accent-color);
  -webkit-transition: right var(--fast-transition-speed) ease-in-out;
  -o-transition: right var(--fast-transition-speed) ease-in-out;
  transition: right var(--fast-transition-speed) ease-in-out;
  z-index: 9998;
}
.nav__collapse-button.inactive {
  right: -50px;
}

.nav__wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 100%;
}

.nav__profile--wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: var(--nav-bg-color);
  width: 100%;
  padding: 10px 0;
}
.nav__profile--img {
  margin-left: 12px;
}
.nav__profile--username {
  margin: 0 1rem;
  color: var(--primary-font);
  font-weight: bold;
  font-size: 3rem;
}

.nav__genre-buttons--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
  background: var(--nav-bg-color);
  margin-bottom: 5px;
}
.nav__genre-button {
  border-left: solid 4px transparent;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
  background-color: transparent;
  color: #9c9a9c;
  padding: .8rem .7rem;
  text-align: center;
  -webkit-transition: border-left .2s;
  -o-transition: border-left .2s;
  transition: border-left .2s;
}
.nav__genre-button:hover, .nav__genre-button:active {
  border-left: solid 4px var(--accent-color);
  color: #FFF;
  -webkit-transition: border-left 0s;
  -o-transition: border-left 0s;
  transition: border-left 0s;
}

.nav__user-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: .3rem 0;
  font-size: 2rem;
}
.nav__user-controls--button {
  border: 0;
  border-left: solid 4px transparent;
  background-color: var(--nav-bg-color);
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  color: #9c9a9c;
  margin: .1rem 0;
  padding: .6rem .7rem;
  cursor: pointer;
  -webkit-transition: border-left .2s;
  -o-transition: border-left .2s;
  transition: border-left .2s;
}
.nav__user-controls--button:hover {
  color: var(--primary-font);
  border-left: solid 4px var(--accent-color);
  background: var(--form-border-color);
  -webkit-transition: border-left 0s;
  -o-transition: border-left 0s;
  transition: border-left 0s;
}

.error {
  width: 100%;
  text-align: center;
  color: var(--accent-color);
  background-color: var(--form-border-color);
  padding: .4rem 0;
}
.error--hide {
  display: none;
}

@media (min-width: 600px){

}

@media (min-width: 900px){

}

@media (min-width: 1200px){
  .nav__collapse-button.inactive {
    right: -50px;
    -webkit-transition: right var(--fast-transition-speed) ease-in-out;
    -o-transition: right var(--fast-transition-speed) ease-in-out;
    transition: right var(--fast-transition-speed) ease-in-out;
  }
  .nav__static-window {
    width: var(--menu-active-width);
  }
  .nav__genre-buttons--wrapper {
    width: var(--menu-active-width);
  }
  .nav__genre-button {
    font-size: 1rem;
    text-align: left;
  }

  .nav__user-controls {
    font-size: 1rem;
  }
  .nav__user-controls--button {
    text-align: left;
  }

  .nav__profile--img {
    width: 50px;
  }
  .nav__profile--username {
    font-size: 1.2rem;
  }
}

@media (min-width: 1400px){
  
}

@media (min-width: 1800px){
  
}

@media (min-width: 1900px){
  
}