.media-page__display-media {
  box-sizing: border-box;
  background-color: var(--bg-color-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 3px;
  margin: 0 auto 0;
  width: 100%;
  padding: .8em;
}

.media-page__main-grid {
  display: grid;
  grid-template-columns: 1fr;
}
.media-page__sub-grid {
  display: grid;
  grid-template-rows: repeat(4, auto);
}

.media-page__head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.media-page__title {
  font-size: 3rem;
  font-weight: normal;
}

.media-page__info {
  display: flex;
  gap: .5em;
  font-size: 1rem;
  list-style: none;
  line-height: 0;
}

.media-page__sub-title {
  margin-bottom: .3em;
  font-size: 1.4em;
}

.media-page__image {
  margin: 0 auto;
  width: 20rem;
}
.media-page__genres--wrapper {
  width: 75%;
}
.media-page__genre {
  color: var(--primary-font);
  display: inline-block;
  background-color: transparent;
  border: .2em solid hsl(0, 0%, 19%);
  border-radius: 1em;
  margin-right: 1em;
  padding: 0.2em 1.3em;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .9rem;
  letter-spacing: .2em;
}
.media-page__genre:hover {
  border: .2em solid var(--bright-red)
}
.media-page__summery {
  color: var(--primary-font);
  font-size: 1.1em;
  line-height: 1.4em;
  margin-left: 1.4em;
}
.media-page__sub-content--wrapper {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin: 3% 10% 0;
  width: 55%;
  font-size: 1.2em;
}
.media-page__sub-content--list {
  margin-top: 8px;
  list-style: none;
}
.media-page__sub-content--item {
  color: var(--diminished-font);
  margin-bottom: .6rem;
}

.wiki-link {
  text-decoration: none;
  color: var(--diminished-font);
}
.wiki-link:hover {
  color: var(--primary-font);
}
.wiki-link:active {
  color: var(--bright-red);
}

.star-full, .star-empty {
  font-size: 1.2em;
  transform: translate(0, -.3em)

}
.star-full {
  display: inline-block;
  color: var(--bright-red);
}
.star-empty {
  display: inline-block;
  color: var(--diminished-font);
}
.star-button {
  outline: 0;
  border: 0;
  padding: .1em .1em;
  background: transparent;
  cursor: pointer;
  transform: translate(0, -.1em)
}
.star-button:hover {
  color: var(--primary-font);
}

@media (min-width: 600px){
}

@media (min-width: 900px){
}

@media (min-width: 1200px){
  .media-page__main-grid {
    grid-template-columns: 20rem auto;
    gap: 2em;
  }
  .media-page__display-media {
    width: 90%;
    margin: 1.3em auto 0;
  }
  .media-page__sub-content--wrapper {
    margin: 0;
    margin-left: 1.4em;
    margin-top: 1.2em;
  }
  .media-page__genres--wrapper {
    width: 100%;
    margin-bottom: .6em;
    margin-top: .6em;
  }
}

@media (min-width: 1400px){
}

@media (min-width: 1800px){
}

@media (min-width: 1900px){
}