.bookmarks__wrapper {
  margin: 3.3em 0;
  overflow-y:auto;
}

.bookmarks__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: .3em;
}
.bookmarks__controls-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.bookmarks__controls--sort {
  text-align: center;
  background: black;
  color: var(--primary-font);
  padding: .2em 1em;
  border: 2px solid var(--dark-red);
  border-radius: 15px;
  margin: 0 .1em;
}
.bookmarks__controls--sort:focus{
  border: 2px solid var(--bright-red);
}
.bookmarks__controls--sort:is(:active,:focus,:checked,:enabled){
  border: 2px solid var(--dark-red);
  outline: none;
}


.bookmarks__card-deck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.4em;
}

.arrow-button__wrapper {
  -webkit-transform: translateY(.2em);
      -ms-transform: translateY(.2em);
          transform: translateY(.2em)
}
.arrow-button {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: var(--bright-red);
  color: black;
  border: 2px solid var(--bright-red);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 .1em;
}
.arrow-down {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 150ms ease-in-out;
  transition: -webkit-transform 150ms ease-in-out;
  -o-transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}
.arrow-up {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 150ms ease-in-out;
  transition: -webkit-transform 150ms ease-in-out;
  -o-transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

@media (min-width: 1024px){
  .bookmarks__controls {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 0.5em;
  }
}

@media (min-width: 1366px){
  .bookmarks__wrapper {
    margin: 0.8em 5em;
    width: 90%;
  }
  .bookmarks__controls--sort {
    text-align: center;
    padding: .2em 1em;
    margin: 0 .3em;
  }
}