.bookmarks__wrapper {
  margin: 3.3em 0;
  overflow-y:auto;
}

.bookmarks__controls {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: .3em;
}
.bookmarks__controls-type {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.bookmarks__controls--sort {
  text-align: center;
  background: black;
  color: var(--primary-font);
  padding: .2em 1em;
  border: 2px solid var(--dark-red);
  border-radius: 15px;
  margin: 0 .1em;
}
.bookmarks__controls--sort:focus{
  border: 2px solid var(--bright-red);
}
.bookmarks__controls--sort:is(:active,:focus,:checked,:enabled){
  border: 2px solid var(--dark-red);
  outline: none;
}


.bookmarks__card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.4em;
}

.arrow-button__wrapper {
  transform: translateY(.2em)
}
.arrow-button {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: var(--bright-red);
  color: black;
  border: 2px solid var(--bright-red);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 .1em;
}
.arrow-down {
  transform: rotate(180deg);
  transition: transform 150ms ease-in-out;
}
.arrow-up {
  transform: rotate(0deg);
  transition: transform 150ms ease-in-out;
}

/* 360 */

@media (min-width: 375px){
}

@media (min-width: 411px){
}

@media (min-width: 768px){
}

@media (min-width: 1024px){
  .bookmarks__controls {
    justify-content: flex-end;
    margin-right: 0.5em;
  }
}

@media (min-width: 1366px){
  .bookmarks__wrapper {
    margin: 0.8em 5em;
    width: 90%;
  }
  .bookmarks__controls--sort {
    text-align: center;
    padding: .2em 1em;
    margin: 0 .3em;
  }
}

@media (min-width: 1920px){
}