.nav__collapse-button{
  cursor: pointer;
  position: absolute;
  color: black;
  top: 10px;
  right: 10px;
  border: 0;
  padding: 8px 10px;
  border-radius: .3rem;
  background-color: var(--bright-red);
  transition: right var(--fast-transition-speed) ease-in-out;
  z-index: 9998;
}
.nav__collapse-button.inactive {
  right: -50px;
}
.nav__collapse-button:is(:hover) {
  color: white;
}

/* 360 */

@media (min-width: 375px){
}

@media (min-width: 411px){
}

@media (min-width: 768px){
}

@media (min-width: 1024px){
}

@media (min-width: 1366px){
  .nav__collapse-button.inactive {
    right: -50px;
    transition: right var(--fast-transition-speed) ease-in-out;
  }
}

@media (min-width: 1920px){
}