@font-face {
  font-family: "bebas";
  src: url("../assets/fonts/bebas-neue.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gotham";
  src: url("../assets/fonts/gotham-light.otf");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: gotham,sans-serif;
}

:root {
  --bg-color: #080808;
  --bg-color-light: #191819;
  --bg-color-dark: #000000;
  
  --bright-red: #e50914;
  --dark-red: #ff000056;

  --primary-font: #ffffff;
  --diminished-font: #8e8e8e;
  --form-input-color: #636363;
  
  --search-input-border-focus: 2px solid white;
  --search-input-border: 2px solid var(--bg-color-dark);

  --menu-active-width: 250px;
  --menu-inactive-width: 0px;

  --fast-transition-speed: 0.25s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  border: none !important;
  box-shadow: 0 0 0 2px var(--form-input-color);
  transition: background-color 500000s ease-in-out 0s !important;
  caret-color: white;
}

input:-webkit-autofill:focus {
  box-shadow: 0 0 0 2px white !important;
}

body {
  background-color: var(--bg-color-dark);
  color: var(--primary-font);
}

.mainscreen {
  overflow-x: hidden;
  padding-left: 0;
}

.no-scroll {
  overflow: hidden;
}

.bottom {
  margin-bottom: 5em;
}

.error {
  width: 100%;
  text-align: center;
  color: var(--bright-red);
  background-color: var(--dark-red);
  padding: .4rem 0;
}
.error--hide {
  display: none;
}

.round-it {
  border-radius: .3rem;
}

@media (min-width: 600px){
}

@media (min-width: 900px){
}

@media (min-width: 1200px){
  ::-webkit-scrollbar {
    width: .7em;
    height: .7em;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--bright-red);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
  }

  .mainscreen {
    padding-left: var(--menu-active-width);
    transition: padding-left var(--fast-transition-speed) ease-in-out;
  }
  .mainscreen.inactive {
    padding-left: var(--menu-inactive-width);
  }
  
  .no-scroll {
    overflow-y: auto;
  }
}

@media (min-width: 1400px){
}

@media (min-width: 1800px){
}

@media (min-width: 1900px){
}