@font-face {
  font-family: "bebas";
  src: url("../assets/fonts/bebas-neue.otf");
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-color: #080808;
  --bg-color-light: #191819;
  --bg-color-dark: #000000;
  
  --bright-red: #e50914;
  --dark-red: #ff000056;

  --primary-font: #ffffff;
  --diminished-font: #8e8e8e;

  --form-input-color: #636363;

  --menu-active-width: 250px;
  --menu-inactive-width: 0px;

  --fast-transition-speed: 0.25s;

  --search-icon-size: 2.31rem;

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  border: none !important;
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0 2px var(--form-input-color);
  box-shadow: 0 0 0 2px var(--form-input-color);
  -webkit-transition: background-color 500000s ease-in-out 0s !important;
  transition: background-color 500000s ease-in-out 0s !important;
  caret-color: white;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 2px white !important;
          box-shadow: 0 0 0 2px white !important;
}

body {
  background-color: var(--bg-color-dark);
  color: var(--primary-font);
}

.mainscreen {
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 0;
}

@media (min-width: 600px){

}

@media (min-width: 900px){

}

@media (min-width: 1200px){
  ::-webkit-scrollbar {
    width: .7em;
    height: .7em;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--bright-red);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
  }

  .mainscreen {
    padding-left: var(--menu-active-width);
    -webkit-transition: padding-left var(--fast-transition-speed) ease-in-out;
    -o-transition: padding-left var(--fast-transition-speed) ease-in-out;
    transition: padding-left var(--fast-transition-speed) ease-in-out;
  }
  .mainscreen.inactive {
    padding-left: var(--menu-inactive-width);
  }
}

@media (min-width: 1400px){
  
}

@media (min-width: 1800px){
  
}

@media (min-width: 1900px){
  
}